---
---

@import 'fonts';
@import 'bootstrap-custom';
@import 'bootstrap';

body {
background:none;
color:#000000;
background-color:#FFFFFF;
font-family:"Passion One";
text-shadow:0 0 16px #ccc;
}

h1 {
text-align:center;
font-size:7em;
}
